.signup{
  width: 30%;
  margin: 100px auto 0;
}
.login{
  width: 30%;
  margin: 200px auto 0;
}
.bg-light{
  background-color: #4b96e0 !important;
  }
.navbar-brand{
  color: #fff !important;
  font-weight: bold ;
}

.search{
  width: 30% ;
  margin: 200px auto 20px;
}
.input{
  display: inline-block;
  width: 43%;
}
.list {
  width: 50%;
  margin: auto !important;
  text-align: center;
}
.tasks{
  width: 30%;
  margin: 20px auto;
  font-weight: bold;
  border-radius: 10px;
  color: #000;
}
.tasks>div{
  background-color: #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.tasks span{
  display: inline-block;
  margin-left: 20px;
}
.tasks aside{
  float: right;
  cursor: pointer;
  color: #777;
}
.out{
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}
.empty,.num{
  display: none;
  color: red;
  padding: 10px;
  font-style: italic;
}
